# Dependencies
node_modules
.pnpm-store

# Build outputs
dist
build
.next
out
.turbo

# Environment
.env
.env.local
.env.*.local

# Testing
coverage
*.lcov

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode
.idea
*.swp

# Expo
.expo
